<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="EntryMapper">
	<resultMap id="period" type="period">
		<result property="prdCd" column="CODE"/>
		<result property="prdNm" column="CODE_NM"/>
	</resultMap>
	<resultMap id="country" type="country">
		<result property="cntryCd" column="CODE"/>
		<result property="cntryNm" column="CODE_NM"/>
	</resultMap>
	<resultMap id="eventCategory" type="eventCategory">
		<result property="eventCd" column="CODE"/>
		<result property="eventNm" column="CODE_NM"/>
		<result property="eventDate" column="ADIT_INFO1"/>
	</resultMap>
	<resultMap id="videoCategory" type="videoCategory">
		<result property="clasCd" column="CLAS_CD"/>
		<result property="clasNm" column="CLAS_NM"/>
		<result property="upperClas" column="UPPER_CLAS"/>
	</resultMap>
	<resultMap id="person" type="person">
		<result property="recid" column="CNT"/>
		<result property="personId" column="PERSON_ID"/>
		<result property="korNm" column="PERSON_KORNM"/>
		<result property="engNm" column="PERSON_ENGNM"/>
		<result property="nationalClss" column="NATIONAL_CLSS"/>
		<result property="personField" column="PERSONFIELD"/>
	</resultMap>
	
	<select id="personList" resultMap="person">
	 select ROWNUM as CNT
	 	  , PERSON_ID
	 	  , KORNM
	 	  , ENGNM
	 	  , NATIONAL_CLSS
	 	  , PERSONFIELD
	   from PERSON
	<where>
		<if test="_parameter != null"><![CDATA[
	 	 personfield is null and (KORNM like '%'||#{_parameter}||'%' or ENGNM like '%'||#{_parameter}||'%')
	 	]]></if>
	</where>
	</select>
	<select id="periodList" resultMap="period">
	 select code, code_nm from codeinfo where div_id = 'S01'
	</select>
	<select id="countryList" resultMap="country">
	 select code, code_nm from codeinfo
	 <where>
	 <choose>
		<when test ='_parameter != null and _parameter.equals("abroad")'>
     	div_id = 'A13' AND code != 'ko'
     	</when>
     	<when test ='_parameter != null and _parameter.equals("domestic")'>
     	div_id = 'A13' AND code = 'ko'
     	</when>
		<otherwise>
		div_id = 'A13' 
		</otherwise>
	 </choose>
	 </where>
	</select>
	<!-- 2016.08.25 event는 자동완성으로 처리 -->
	<select id="eventCategoryList" resultMap="eventCategory" parameterType="vo">
	 select code, code_nm, adit_info1 from codeinfo
	 <where>
	 <choose>
	 	<when test="eventPrd != null"><![CDATA[
	 	div_id='S02' and to_number(substr(adit_info1, 0, 4)) >= #{eventPrd} and to_number(substr(adit_info1, 0, 4)) < to_number(#{eventPrd})+10
	 	]]></when>
	 	<otherwise>
		div_id='S02'
	 	</otherwise>
	 </choose>
	 </where>
	 order by to_number(code) asc
	</select>
	<select id="videoCategoryList" resultMap="videoCategory">
	 select * from video_kind
	</select>
	<insert id="insertEvent" useGeneratedKeys="true" parameterType="eventCategory">
	INSERT INTO CODEINFO (
		DIV_ID,
		CODE,
	 	CODE_NM,
	 	ADIT_INFO1
	) VALUES (
		'S02',
	 	(select to_char(max(to_number(CODE))+1) from codeinfo where div_id='S02'),
	 	#{eventNm},
	 	#{eventDate}
	)
	</insert>
	<update id="updateEvent" useGeneratedKeys="true" parameterType="eventCategory">
	update CODEINFO
	   set CODE_NM = #{eventNm},
	 	   ADIT_INFO1 = #{eventDate}
	 where DIV_ID = 'S02' and CODE = #{eventCd, jdbcType=VARCHAR}
	</update>
	<delete id="deleteEvent" parameterType="eventCategory">
	delete from CODEINFO
	 where DIV_ID = 'S02' and CODE = #{eventCd, jdbcType=VARCHAR}
	</delete>
	
	<!-- 인물명-장면정보 매핑 -->
	<select id="getScenePersonMapping" resultMap="person" parameterType="vo">
	 select PERSON_KORNM
	 	  , PERSON_ENGNM
	 	  , PERSON_ID
	   from SCENE_PERSON_MAPPING
	  where SCN_ID = #{scnId}
	</select>
	<insert id="scenePersonMapping" useGeneratedKeys="true" parameterType="vo">
	<choose>
		<when test="personId != null">
		insert into SCENE_PERSON_MAPPING (
			SCN_ID,
			VIDEO_ID,
		 	PERSON_ID,
		 	PERSON_KORNM,
		 	PERSON_ENGNM
		) VALUES (
			#{scnId},
			#{vdoId},
			#{personId},
			#{personKorNm},
			#{personEngNm}
		)
		</when>
		<otherwise>
		insert into SCENE_PERSON_MAPPING (
			SCN_ID,
			VIDEO_ID,
		 	PERSON_KORNM,
		 	PERSON_ENGNM
		) VALUES (
			#{scnId},
			#{vdoId},
			#{personKorNm},
			#{personEngNm}
		)
		</otherwise>
	</choose>
	</insert>
	
	<delete id="deletePersonFromMapping" parameterType="person">
	delete from SCENE_PERSON_MAPPING
	 where SCN_ID = #{scnId} and PERSON_KORNM= #{personKorNm}
	</delete>
	<!-- // 인물명-장면정보 매핑 -->
</mapper>
