<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MonitorMapper">
	<resultMap id="taskList" type="Task">
		<result property="task_code" column="task_code"/>
		<result property="pgm_status" column="pgm_status"/>
		<result property="pgm_status_psnt" column="pgm_status_psnt"/>
		<result property="pgm_tcnt" column="pgm_tcnt"/>
		<result property="pgm_cnt" column="pgm_cnt"/>
		<result property="pgm_start_dt" column="pgm_start_dt"/>
		<result property="pgm_expect_dt" column="pgm_exp_dt"/>
		<result property="pgm_progs_sec" column="pgm_progs_sec"/>
	</resultMap>
	
	<select id="getTaskList" resultMap="taskList">
	 select cl_discuss_number as task_code
          ,pgm_status
          ,pgm_status_psnt
          ,pgm_tcnt
          ,pgm_cnt
          ,pgm_start_dt
          ,pgm_exp_dt
          ,pgm_progs_sec
      from cp_wr_t_task
	</select>
</mapper>
