@charset "utf-8";
/* CSS Document */

/* layout */
.wrap{width:1160px; margin:0 auto; }
header{width:1160px; height:80px; position:relative;}
.container{width:1160px; margin:0 auto; overflow:hidden;background:url(../images/container_bg.gif) repeat-y ; border-top:1px solid #DBDBDB}
.container2{width:1160px; margin:0 auto; overflow:hidden;background:url(../images/container_bg.gif) repeat-y ; border-top:1px solid #DBDBDB; height:1000px}
.leftArea{width:170px; float:left;}
.contents{float:left;width:820px;}
.rightArea{float:right;width:170px; position:relative}
.wrap_all div>a{width:50px; height:23px; line-height:23px; background:#4086b8 url(../images/icon_logout.png) no-repeat 6px center; color:#fff;display:inline-block; padding:0 5px 0 23px}

.skip a{ position: absolute; top: 0px;left: -10000px;   }
.skip a:focus, #skjip a:active{ left: 45%; padding: 5px; background-color: #ffffcc; color: #666; }

/* top */
.top{height:42px;margin:30px auto;  position:relative;width:727px}
.top h1, .top dl, .top dd, .searchBtn{float:left; }
.top h1 p, .top h1 ul{float:left;margin-right:10px}
.top h1 p{margin-top:3px}
.top h1 ul li{line-height:19px;}
.top h1 ul .lg{font-size:18px; font-weight:600}
.search_area{ width:430px;height:38px;border:1px solid #6d6d6d; border-radius:2px 0 0 2px;margin-left:12px; }
.search_area input[type="text"]{width:415px;height:38px; line-height:38px; border:none; padding-left:15px; font-size:15px; font-weight:bold; color:#000; }
.top .searchBtn{ display:block;height:38px; line-height:38px;width:60px;color:#fff; font-weight:500; font-size:14px; border:1px solid #204f7f; border-radius:0 2px 2px 0;text-align:center;background: #1c5190; margin-left:-1px;}

/* left menu */
.cateArea{border-bottom:1px solid #e0e2e4; }
.cateArea p.tit{background-color:#c8ddf0; font-size:14px; height:35px; line-height:35px; padding-left:18px; font-weight:bold}
/*.rightArea .cateArea p.tit{background-color:#b3dfe9; font-size:14px; height:35px; line-height:35px; padding-left:18px; font-weight:bold}*/
.cateArea .depth_1{padding:12px 18px;}
.cateArea .depth_1>li>a{  line-height:20px; background:url(../images/icon_off.png) no-repeat left center; padding-left:18px;}
.cateArea .depth_1>li>a.on{  line-height:20px; background:url(../images/icon_on.png) no-repeat left center; padding-left:18px;}
.cateArea ul>li span{ color:#006acc; font-size:11px; margin-left:5px;}
.cateArea .depth_1>li>a:hover, .cateArea .depth_1>li>a.on{font-weight:600}

.optionArea dl{ padding:15px 18px;overflow:hidden}
.optionArea dl dt{  font-weight:500; margin-bottom:10px; }
.optionArea .divi a{ width:61px;height:28px; line-height:28px; text-align:center; float:left; border:1px solid #dddddd;color:#ababab;background-color:#f5f5f5;display:block; margin-right:2px;margin-bottom:2px;  }
.optionArea .divi2 a{  width:61px;height:28px; line-height:14px; text-align:center; float:left; border:1px solid #dddddd;color:#ababab;background-color:#f5f5f5;display:block; margin-right:2px;margin-bottom:2px;  }
.optionArea .divi.on a, .optionArea .divi2.on a, .optionArea .divi a:hover, .optionArea .divi2 a:hover{background:#fff;color:#555;font-weight:500; }


/* content */
.result_top{ height:34px;  border-bottom:1px solid #DBDBDB;line-height:35px;font-size:14px; color:#333; font-weight:600;padding-left:25px;}
.result_top>strong{color:#ff7010}
.sectit01{padding:25px;overflow:hidden;border-bottom:1px dotted #ccc; } 
.sectit01 h2{ font-size:15px;font-weight:600;margin-bottom:5px; }
.sectit01 h2 a strong{color:#ff5e10}
.sectit01 h2 span{color:#666; font-size:12px; font-weight:normal; margin-left:5px;}
.sectit01 .txt{ font-size:13px;margin-bottom:20px;}
.sectit01 .txt strong{font-weight:600;}
.sectit01 h2 .txt>strong{color:#ff5e10}
.sectit01 ul li{color:#666}
.sectit01 ul li strong{font-weight:600;}
.sectit01 ul li span{color:#aaa; font-weight:600;}


/* 페이징 */
.btn_num{margin:30px 0 40px 0; text-align:center; font-size:11px; height:25px; }
.btn_num .num{ display:inline-block;width:25px; height:25px; line-height:25px; border:1px solid #ccc;  color:#a3a3a3; background-color:#f8f8f8; }
.btn_num .right{  display:inline-block;width:25px; height:25px; line-height:25px; border:1px solid #ccc;  color:#a3a3a3; background-color:#f8f8f8;margin-right:5px;}
.btn_num .num.click{background-color:#fff; color:#ff5e10; font-weight:bold; border:1px solid #ff5e10; }
.btn_num .right.click{background-color:#fff; color:#ff5e10; font-weight:bold; border:1px solid #ff5e10; margin-right:5px; }

.no_result{ width:750px; height:150px; margin-top:70px;}
.no_result .nort_img{float:left; padding: 38px 50px 0 140px;}
.no_result ul{ overflow:hidden;height:150px;padding-top:30px;}
.no_result li{ list-style:disc; line-height:25px;margin-left:35px; }

